<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270470269823-dbidgerbrmu17atp7ci9tbfdtt05brbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270470269823-dbidgerbrmu17atp7ci9tbfdtt05brbr</string>
	<key>API_KEY</key>
	<string>AIzaSyByJbQjEBXgQK3UfGMJKhjantsZ6Qvf96A</string>
	<key>GCM_SENDER_ID</key>
	<string>270470269823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bars-Opus.barsImpression</string>
	<key>PROJECT_ID</key>
	<string>bars-5e3e5</string>
	<key>STORAGE_BUCKET</key>
	<string>bars-5e3e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270470269823:ios:571914e8116c79fdb4a84a</string>
	<key>DATABASE_URL</key>
	<string>https://bars-5e3e5.firebaseio.com</string>
</dict>
</plist>